

body {
	font-family: 'Comfortaa', cursive;
	font-weight: 100;
	
}

h1 {
	font-size: 3.2em;
}

li {
	font-size: .90em;
}

p {
	line-height: 1.5em;
}

p.lead {
	font-size: 1.4em;
}

.saloningreek {
	font-size: .85em;
}

.navbar-default .navbar-nav>li>a {
    color: #212121;
    font-size: 1.25em;
    font-weight: 300;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
   font-weight: bold;
    background-color: transparent;
}



div.footer-text p {
	font-size: .85em;
	letter-spacing: 1px;
	margin-top: -25px;
}


